<!DOCTYPE html>
<html>
<head>
    <title>url2markdown</title>
</head>
<body>
<h1>url2markdown</h1>
<p>This is a very simple web service that will take a given URL, and return
a Markdown representation of that page.</p>

<form action="/" method="get">
    URL: <input type="text" name="url">
    <button type='submit'>Submit</button>
</form>

<p>A <a href='http://kennethreitz.org/projects/'>Kenneth Reitz</a> project.</p>

<a href="https://github.com/kennethreitz/url2markdown"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5224af76613f5d225200004b');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>